* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}

.board {
  display: flex;
  overflow-x: auto;
}

.column {
  width: 33%;
  padding: 0px 10px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0px 10px 10px;
  border-radius: 5px 0px 0px 5px;
  border-color: #eee;
  border-style: solid;
  width: 80%;
  padding-inline-start: 10px;
}

input[type="text"]:focus {
  outline: none;
  border: none;
  margin-right: 3px;
  padding-inline-start: 12px;
  background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(204,204,204,0) 100%);
}

button {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  margin: 5% 3% 0% 3%;
  border: none;
  border-radius: 5px;
  width: 27%;
  outline: none;
  background-color: white;
}

button:hover {
  background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255, 255, 255, 1) 100%);
}

.btnAddCard {
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 0px 5px 5px 0px;
  width: 20%;
  background-color: #eee;
}

.btnAddCard:hover {
  background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
}

header {
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  text-align: center;
  line-height: 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  margin: 0px;
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding-inline-start: 0px;
}

li {
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  .side {
    width: 12.5%;
  }

  .column {
    width: 25%;
  }
}